@import url('https://fonts.googleapis.com/css?family=Rubik');

.navbar-brand {
	font-family: 'Rubik';
	font-size: 30px;
	font-weight: bold;
}

.container-fluid {
	padding-left:0;
	padding-right:0;
	text-align: center;
}

/* Each child has a margin*/
.container-fluid > * {
	margin: 2em 2em 0em 2em;
}

/* Last child element has a bottom margin */
.container-fluid > *:nth-last-child(1) {
	margin: 2em 2em 2em 2em;
}

.navbar {
	background-color: #ffcc00;
	margin: 0;
}

h2 {
	font-family: 'Rubik', serif;
	color: white;
	padding: 0.5em 0.5em;
	text-align: justify;
	font-weight: bold;
}

p {
	font-family: 'Rubik', serif;
	color: #0FA3B1;
	text-align: justify;
	color: white;
	font-size: 20px;
}

article {
	padding: 1em 2em;
	background-color: #ffcc00;
	border-radius: 10px;
	text-align: justify;
}

/*Overidding the navigational bar styles in Bootstrap*/
.navbar-dark .navbar-nav .nav-link {
	margin: 0 10px;
	font-family: 'Rubik';
	color: #fff5cc;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: white;
	font-weight: bold;
}

.navbar-dark .navbar-nav .nav-item>.active {
	color: white;
	font-weight: bold;
}

.dropdown-item.active, .dropdown-item:active {
    font-weight: bold;
    text-decoration: none;
    color: #ffcc00;
    background-color: rgb(0,0,0,0);
}

.dropdown-item {
	font-family: 'Rubik';
	color: #fff5cc;
}

.dropdown-item:hover {
	background-color: rgb(0,0,0,0);
	color: white;
	font-weight: bold;
}

.dropdown-menu {
	border-radius: 0;
	border-width: 0;
	background-color: #ffdb4d;
}

img {
	max-width: 90%;
}