@import url('https://fonts.googleapis.com/css?family=Rubik');

.navbar-dark .navbar-brand {
	font-family: 'Rubik';
	font-size: 30px;
	font-weight: bold;
	color: black;
}

.container-fluid {
	padding-left:0;
	padding-right:0;
	text-align: center;
}

.navbar {
	background-color: rgba(0,0,0,0);
}

h2 {
	font-family: 'Rubik', serif;
	color: black;
	padding: 0.5em 0.5em;
	text-align: justify;
	font-weight: bold;
}

p {
	font-family: 'Rubik', serif;
	color: black;
	text-align: justify;
	font-size: 20px;
}

article {
	padding: 1em 2em;
	text-align: justify;
}

/*Overidding the navigational bar styles in Bootstrap*/
.navbar-dark .navbar-nav .nav-link {
	margin: 0 10px;
	font-family: 'Rubik';
	color: black;
	font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-brand:hover, 
.navbar-dark .navbar-nav .nav-item>.active:hover {
	color: rgb(0,0,0,0.3);
	border-color: rgb(0,0,0,0.3);
	font-weight: bold;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}

.navbar-dark .navbar-nav .nav-item>.active, .dropdown-item.active, .dropdown-item:active {
	color: black;
	font-weight: bold;
	border-bottom: 3px solid black;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: black;
    padding-bottom: 5px;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: rgb(0,0,0,0);
}

.dropdown-item {
	font-family: 'Rubik';
	color: black;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0);
	transition-property: background-color color;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}

.dropdown-item:hover {
	background-color: rgba(255, 255, 255, 0.2);
	color: black;
	transition-property: background-color color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	color: rgb(0,0,0,0.3);
}

.dropdown-menu {
	border-radius: 0;
	border-width: 0;
	background-color: rgba(0, 0, 0, 0.1);
}

img {
	width: 100%;
	height: auto;
}